      </section>
      <footer>
        <!--
        <p><a href="http://sourceforge.jp/">
        <img src="http://sourceforge.jp/sflogo.php?group_id=5586&type=2" alt="SourceForge.JP" />
        </a></p>
        -->
        <p>This project is maintained by <a href="mailto:ypsitau@nifty.com">Yutaka Saito</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
